---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Create tag

on:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  determine-tag-version:
    name: Determine tag version
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    outputs:
      tag_version: ${{ steps.git-cliff.outputs.tag_version }}
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Install git-cliff
        uses: taiki-e/install-action@cede0bb282aae847dfa8aacca3a41c86d973d4d7 # v2.68.1
        with:
          tool: git-cliff

      - name: Get tag version
        id: git-cliff
        run: |
          tag_version=$(git-cliff -c .github/cliff.toml --bumped-version --unreleased)
          echo "Next tag version is ${tag_version}"
          echo "tag_version=${tag_version}" >> "$GITHUB_OUTPUT"

  create-tag:
    name: Create tag
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    needs: determine-tag-version
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      TAG_VERSION: ${{ needs.determine-tag-version.outputs.tag_version }}
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ssh-key: '${{ secrets.COMMIT_KEY }}'

      - name: Pnpm Setup
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Set up Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: 'package.json'
          # For workflows with elevated privileges we recommend disabling automatic caching.
          # https://github.com/actions/setup-node
          package-manager-cache: false

      - name: Configure git
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Bump package.json
        run: npm version ${TAG_VERSION} --no-commit-hooks --no-git-tag-version

      - name: Commit updated files
        run: |
          git add .
          git commit -m 'chore(release): prepare ${TAG_VERSION}'
          git push

      - name: Create git tag
        run: |
          git tag ${TAG_VERSION}
          git push origin ${TAG_VERSION}
