name: "Semantic PR"

on:
  pull_request_target:
    types:
      - opened
      - reopened
      - edited
      - synchronize

permissions: {}

concurrency:
  group: semantic-pr-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  main:
    name: Validate PR Title
    runs-on: ubuntu-slim
    permissions:
      contents: read
      pull-requests: read
      checks: write
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
