name: 'Support requests'

on:
  issues:
    types: [labeled, unlabeled, reopened]

permissions: {}

concurrency:
  group: support-${{ github.ref }}
  cancel-in-progress: true

jobs:
  support:
    if: github.event.label.name == 'support'
    runs-on: ubuntu-24.04
    permissions:
      issues: write
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GH_REPO: ${{ github.repository }}
      NUMBER: ${{ github.event.issue.number }}
    steps:
      - name: Comment and close issue
        run: gh issue close "$NUMBER" -r "off-topic" -c "$BODY"
        env:
          BODY: >
            :wave: @{issue-author}, we use the issue tracker exclusively
            for bug reports and feature requests. However, this issue appears
            to be a support request. Please use our support channels
            to get help with Jellyseerr.

            - [Discord](https://discord.gg/ckbvBtDJgC)

      - name: Lock issue
        run: gh issue lock "$NUMBER" -r "off_topic"
