name: 'Support requests'

on:
  issues:
    types: [labeled, unlabeled, reopened]

permissions:
  contents: read
  issues: write

jobs:
  support:
    runs-on: ubuntu-24.04
    steps:
      - uses: dessant/support-requests@v4
        with:
          github-token: ${{ github.token }}
          support-label: 'support'
          issue-comment: >
            :wave: @{issue-author}, we use the issue tracker exclusively
            for bug reports and feature requests. However, this issue appears
            to be a support request. Please use our support channels
            to get help with Jellyseerr.

            - [Discord](https://discord.gg/ckbvBtDJgC)

          close-issue: true
          lock-issue: true
          issue-lock-reason: 'off-topic'
