name: Test Docs deployment

on:
  pull_request:
    branches:
      - develop
    paths:
      - 'docs/**'
      - 'gen-docs/**'

permissions:
  contents: read

concurrency:
  group: docs-pr-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json

      - name: Pnpm Setup
        uses: pnpm/action-setup@v4

      - name: Get pnpm store directory
        shell: sh
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: |
          cd gen-docs
          pnpm install --frozen-lockfile

      - name: Build website
        run: |
          cd gen-docs
          pnpm build
